<% include ./partials/header.ejs %>

<link rel="stylesheet" href="style.css">


<!-- Slide Show-->
<div class="container outer">
<ul class="image_container" id="slides">
    
    <li class="slide showing"><img src="webext.jpg" class="img-fluid" alt="Responsive image"></li>
    <li class="slide "><img src="the_front.jpg" class="img-fluid" alt="Responsive image"></li>
    <!-- <li class="slide "><img src=""></li>
    <li class="slide "><img src=""></li> -->

</ul>
</div>

<!-- Jumbotron -->
<div class="container">
    <div class="jumbotron col-lg-">
        <h1 class="display-4">Welcome To Haywood's Properties</h1>
        <p class="lead">This is where you can find the perfect home for you.</p>
        <hr class="my-4">
        <p></p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/properties" role="button">All Properties</a>
        </p>
    </div>
</div>
<script src="script.js"></script>
<% include ./partials/footer.ejs %>

<script>
var viewportWidth = window.innerWidth || document.documentElement.clientWidth;
    if(viewportWidth > 1500){
        $(".outer").attr("style", "width: 100%; position: relative; height:200px; padding-bottom: 325px;");
    } else if (viewportWidth < 1500 && viewportWidth > 800 && viewportWidth > 560){
        $(".outer").attr("style", "width: 100%; position: relative; height:200px; padding-bottom: 22%;")
    }
    else if( viewportWidth < 800 || viewportWidth < 560){
        $(".outer").attr("style", "width: 100%; position: relative; height:149px; padding-bottom: 0px;")
    } else if ( viewportWidth > 560 || viewportWidth > 800 && viewportWidth < 1500) {
        $(".outer").attr("style", "width: 100%; position: relative; height:200px; padding-bottom: 22%;")
    }

window.addEventListener('resize', function(){
    var viewportWidth = window.innerWidth || document.documentElement.clientWidth;
    if(viewportWidth > 1500){
        $(".outer").attr("style", "width: 100%; position: relative; height:200px; padding-bottom: 325px;");
    } else if (viewportWidth < 1500 && viewportWidth > 800 && viewportWidth > 560){
        $(".outer").attr("style", "width: 100%; position: relative; height:200px; padding-bottom: 22%;")
    }
    else if( viewportWidth < 800 || viewportWidth < 560){
        $(".outer").attr("style", "width: 100%; position: relative; height:149px; padding-bottom: 0px;")
    } else if ( viewportWidth > 560 || viewportWidth > 800 && viewportWidth < 1500) {
        $(".outer").attr("style", "width: 100%; position: relative; height:200px; padding-bottom: 22%;")
    }
}
)

</script>