<% include ./partials/header.ejs %>
<div class="container">
    <h3>Your Properties: </h3>
    <table style="width:100%">
        
        <tr>
            <th>
                Property
            </th>
            <th>
                Edit 
            </th>
            <th>
                Manage
            </th>

            
        </tr>
            
        
    <% for(var i = 0; i < property.length; i++) { %>
        <tr onClick="document.location = '/user/<%= currentUser._id %>/manage/<%= property[i]._id %>'">
            <td>
                <h5><%= property[i].name %></h5>
            </td>
        </tr>
        
    <% } %>
    </table>
</div>
    


<% include ./partials/footer.ejs %>

<script>
var to_do_items = [];

</script>