<% include ./partials/header.ejs %>
<link rel="stylesheet" href="../../style2.css">
<div class="container">
    <div class="jumbotron">
        <h3>Dashboard </h3>
    </div>
    
    
    <table id="manage-table" style="width:100%">
        
        <tr>
            <th>
                Property
            </th>
            <th>
                Edit 
            </th>
            <th>
                Manage
            </th>

            
        </tr>
            
        
    <% for(var i = 0; i < property.length; i++) { %>
        <tr onClick="document.location = '/user/<%= currentUser._id %>/manage/<%= property[i]._id %>'">
            <td>
                <h5><%= property[i].name %></h5>
            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
        
    <% } %>
    </table>
</div>
    


<% include ./partials/footer.ejs %>

<script>
var to_do_items = [];

</script>