<% include ./partials/header.ejs %>

<div class="container">
<h2><%= property.name %> </h2> 

<h3> Tenant Info </h3>

<h3> Property Info </h3>

<h3> Rent Info</h3>

<h3> Value Info </h3>

</div>



<% include ./partials/footer.ejs %>