<% include ./partials/header.ejs %>
<link rel="stylesheet" href="../../style2.css">
<div class="container">
    <div class="jumbotron">
        <h3>Dashboard </h3>
    </div>
    
    
    <ul id="manage-table" style="width:100%">
            
    <% for(var i = 0; i < property.length; i++) { %>
            <li onClick="document.location = '/user/<%= currentUser._id %>/manage/<%= property[i]._id %>'" class=" list-group-item-action list-group-item">
                <h5 style="margin-top:10px;"><%= property[i].name %></h5><span style="float:right;" class="badge badge-danger badge-pill">property notification number</span>
            </li>
           
        
        
    <% } %>
        </ul>
</div>
    


<% include ./partials/footer.ejs %>

<script>
var to_do_items = [];

</script>