html, body{
    height:100%
}



body {
    height: auto;
    display:flex;
    flex-flow:column;
    
    
}

#main{
    /* if content is bigger than vh then make main auto else if content is smaller than vh make main height vh*/
    height:auto;
    min-height: 100vh;
}

#sticky-footer{
    flex-shrink: 0;
}

#slides {
    position: relative;
    height: 150px;
    padding: 0px;
    margin: 0px;
    margin-top:30px;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.outer {
    width: 100%;
    position: relative;
    height:200px;
    padding-bottom: 22%;
    
}

img {
    width:100%;
    height:100%;
    position: absolute;
    object-fit: cover;
    overflow: auto;
    
}
 .box {
    display:flex;
    
 }

 .dont{
    display:none;
 }

 #news-jumbo{
     flex:1 0 auto;
 }




